body{
    margin: 0px;
    position: relative;
}
h1{
    text-align: center;
    margin: 5px 0px 10px 0px;
}

#jadeh{
    width: 100%;
    height: auto;
}

#map{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: black;
    background-image: url(../../../Images/car.png);
    background-size: 100% 100%;
}

#map .ways{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin: 10px 10px 10px 10px;
    background-color: cadetblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.btn{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#start{
    width: 150px;
    height: 40px;
    border-radius: 5px;
    background-color: royalblue;
    color: white;
    border: none;
    margin-top: 10px;
    display: none;
}

#turn{
    position: absolute;
    width: 80px;
    background-color: rgb(255, 255, 255,0.8);
    border-radius: 5px;
    right: 10px;
    top: 70px;
    overflow: auto;
    display: none;
    color: rgb(0, 128, 128,0.9);
}
#turn h6{
    margin: 0px;
    padding: 2px 0px 5px 0px;;
    text-align: center;
    border-bottom: solid 1px black;
}
#turn:hover{
    background-color: white;
    color: teal;
}

.prnt{
    top: 10px;
    left: 2.5%;
    position: absolute;
    width: 95%;
    height: 550px;
    background-color: rgba(85, 29, 29, 0.6);
    border-radius: 20px;
    overflow: hidden;
}

.prnt h1{
    background-color: red;
    color: white;
    height: 10%;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.prnt .carsinput{
    width: 60%;
    height: 90%;
}

.prnt .submit{
    width: 40%;
    height: 90%;
    background-color: blue;
}

.prnt .carsinput .dv{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.prnt .carsinput .dv div{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

.carsinput .dv div .hdn{
    display: none;
}

.prnt #sabt{
    position: absolute;
    border: none;
    width: 230px;
    height: 55px;
    border-radius: 10px;
    background-color: gray;
    font-size: 30px;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    right: 100px;
    bottom: 100px;
}

label,button:hover{
    cursor: pointer;
}

input,button{
    outline: none;
}

.hdn1{
    display: none;
}

#prnt2{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    display: none;
    color: white;
    background-color: rgb(0, 133, 0, 0.5);
}

#prnt2 h4{
    margin: 2px 0px 3px 0px;
}

#prnt2 #history{
    width: 500px;
    height: 70px;
    border: solid 1px black;
    overflow: auto;
}
#prnt2 #history p{
    margin: 2px 0px 2px 0px;
}

